@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Regular.eot');
    src: url('../font/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
    url('../font/Poppins-Regular.woff2') format('woff2'),
    url('../font/Poppins-Regular.woff') format('woff'),
    url('../font/Poppins-Regular.ttf') format('truetype'),
    url('../font/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


*{
    padding: 0;
    margin: 0;
}

header{
    padding: 24px 0;
    background: #181818;

}

.logo img{
    margin-left: -150px;
    display: block;
}

.container{
    max-width: 1168px;
    margin: auto;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

header nav ul li{
    margin-left: 32px;
}

header nav  a{
    text-decoration: none;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: inline-block;
}

header nav ul li:first-of-type{
    margin-right: 24px;
}

header nav ul li:first-of-type a{
    font-size: 13px;
}

header nav ul li:last-of-type{
    margin-left: 31px;
}

header nav ul li:last-of-type a{
    padding: 11px 20px;
    background-color: #FFFFFF;
    border-radius: 14px;
    font-family: 'Poppins';
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;
    transition: 0.3s;
}

header nav ul li a:hover{
    transform: scale(1.1);
}



/*секция 1*/
.main_banner{
    background-image: url("../images/bg1.png");
    background-size: cover;
    height: 82vh;
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 71px;
    position: relative;
}

.main_banner .container{
    max-width: 580px;
    margin: inherit;
    text-align: center;
}

.main_banner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #C0C0C0;
}

.main_banner h1{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 54px;
    line-height: 59px;
    color: #FFFFFF;
}

.main_banner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.components{
    display: flex;
    position: absolute;
    right: 40px;
    bottom: 46px;
    list-style: none;
}

.components li{
    margin-left: 16px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    color: #FFFFFF;
}

.components li:before{
    content: "";
    display: inline-block;
    background-image: url("../images/icon1.svg");
    width: 16px;
    height: 16px;
    margin-right: 6px;
    position: relative;
    top: 7px;
}

.components li:nth-child(2):before{
    background-image: url("../images/icon2.svg");
}

.components li:nth-child(3):before{
    background-image: url("../images/icon3.svg");
    width: 32px;
}

.components li:nth-child(4):before{
    background-image: url("../images/icon4.svg");
    width: 10px;
}


/*секция 2*/
.second_banner{
    background-image: url("../images/bg2.jpg");
    background-size: 100% 100%;
    height: 75vh;
    padding-right: 62px;
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
}

.second_banner .container{
    margin: inherit;
    max-width: 298px;
}

.second_banner h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.second_banner p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

.third_banner{
    background-image: url("../images/bg3.jpg");
    background-size: 100% 100%;
    height: 75vh;
    padding-right: 87px;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.third_banner .container{
    margin: inherit;
    max-width: 273px;
}

.third_banner .container h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.third_banner .container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}

/*секция 4*/
.fourth_section{
    background: #000000;
    padding-top: 113px;
    padding-bottom: 140px;
}

.fourth_section .container h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    text-align: center;
    color: #FFFFFF;
    margin-bottom: 15px;
    justify-content: space-between;
}

.fourth_section .container p{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    color: #C0C0C0;
    margin-bottom: 82px;
}

.fourth_section .container div{
    display: flex;
    justify-content: space-between;
    padding-left: 46px;
    padding-right: 46px;
}



/*секция 5*/
.fifth_banner{
    background-image: url("../images/bg5.jpg");
    background-size: 100% 100%;
    height: 75vh;
    padding-right: 106px;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
}

.fifth_banner .container{
    max-width: 254px;
    margin: inherit;
}

.fifth_banner .container h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fifth_banner .container p {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #C0C0C0;
}



/*секция 6*/
.sixth_section{
    padding-top: 113px;
    padding-bottom: 108px;
    background: #000000;
}

.sixth_section .container{
    text-align: center;
}

.sixth_section .container h2{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 42px;
    color: #FFFFFF;
    margin-bottom: 15px;
}

.sixth_section h3{
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 30px;
    color: #C0C0C0;
    margin-bottom: 22px;
}

.sixth_section a{
    text-decoration: none;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
    color: #000000;

    padding: 12px 10px 12px 42px;

    background: #FFFFFF;
    border-radius: 14px;
    display: inline-block;
    transition: 0.3s;
    position: relative;
}

.sixth_section a:hover{
    transform: scale(1.2);
}

.sixth_section a:before{
    content: "";
    display: inline-block;
    background: #000000;
    position: absolute;
    width: 32px;
    height: 32px;
    border-radius: 12px;
    left: 5px;
    top: 6px;
}

/*@keyframes logos {*/
/*    0%{*/
/*        position: relative;*/
/*    }*/
/*    50%{*/
/*        transform: scale(1.2);*/
/*    }*/
/*    100%{*/
/*        transform: scale(1);*/
/*    }*/
/*}*/

/*header .logo{*/
/*    animation: logos infinite 4s;*/
/*    display: inline-block;*/
/*}*/

