
@media only screen and (max-width: 1024px) {
    .logo img{
        margin-left: -70px;
    }
}
@media only screen and (max-width: 992px) {
    .logo img{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 827px) {
    .logo img{
    max-width: 80%
}
    header nav a {
        font-size: 10px;
    }

    header nav ul li:first-of-type a {
        font-size: 8px;
    }
    header nav ul li:last-of-type a{
        font-size: 10px;
        padding: 5px 10px;
    }
    .fourth_section .container div img{
        max-width: 15%;
    }
}
@media only screen and (max-width: 767px) {
    .third_banner {
        background-size: cover;
    }

    .second_banner {
        background-size: cover;
    }

    .fifth_banner {
        background-size: cover;
    }
}


@media only screen and (max-width: 641px) {

    header nav a {
        font-size: 7px;
    }

    header nav ul li:first-of-type a {
        font-size: 5px;
    }

    header nav ul li:last-of-type a {
        font-size: 7px;
        padding: 2px 7px;
    }
}

@media only screen and (max-width: 539px) {
    header nav ul li {
        margin-left: 10px;
    }

    header nav ul li:first-of-type {
        margin-right: 13px;
    }
    .logo img{
        max-width: 60%
    }
    header nav ul li:last-of-type  {
       margin-left: 10px;
    }
}

@media only screen and (max-width: 430px) {
    header nav a {
        font-size: 5px;
    }

    header nav ul li:first-of-type a {
        font-size: 4px;
    }

    header nav ul li:last-of-type a {
        font-size: 5px;
        padding: 1px;
    }

    .fourth_section .container h2{
        font-size: 30px;
    }
    .fourth_section .container p{
        font-size: 20px;
    }

    .second_banner {
        padding-right: 10px;
    }
    .third_banner {

        padding-right: 10px;
    }
    .fifth_banner {
        padding-right: 10px;
    }


}
@media only screen and (max-width: 375px) {
    .components li{
        font-size: 8px;
    }
    .main_banner h3{
        font-size: 10px;
    }
    .main_banner h1{
        font-size: 45px;
    }
    .main_banner p {
        font-size: 10px;
    }
    .sixth_section .container h2{
        font-size: 30px;
    }
    .sixth_section h3{
        font-size: 20px;
    }
}
@media only screen and (max-width: 360px) {
    .logo img{
        max-width: 50%;
    }
    header nav a {
        font-size: 4px;
    }

    header nav ul li:first-of-type a {
        font-size: 3px;
    }

    header nav ul li:last-of-type a {
        font-size: 4px;
        padding: 1px;
    }
}
@media only screen and (max-width: 320px) {

}