
@media only screen and (max-width: 1024px) {
    .logo img{
        margin-left: -70px;
    }
}
@media only screen and (max-width: 992px) {
    .logo img{
        margin-left: 0px;
    }
}
@media only screen and (max-width: 827px) {
    .logo img{
    max-width: 80%
}
    header nav a {
        font-size: 10px;
    }

    header nav ul li:first-of-type a {
        font-size: 8px;
    }
    header nav ul li:last-of-type a{
        font-size: 10px;
        padding: 5px 10px;
    }
    .fourth_section .container div img{
        max-width: 15%;
    }
}

@media only screen and (max-width: 768px) {



    .header-wrapper{
        display: flex;
        max-width: 719px;
        width: 100%;
        justify-content: space-between;
    }
    .nav__list{
        display: inline-block;
        align-items: inherit;
    }
    .nav{
        position: fixed;
    }
    .nav__content{
        position: fixed;
        visibility: hidden;
        -webkit-transform: translate(0%, -50%);
        transform: translate(0%, -50%);

    }
    .nav__list-item{
        opacity: 0;
        margin-bottom: 20px;
    }
    .cd-header {
        position: fixed;
    }

    .nav-but-wrap{
        display: inline-block;
        padding: 0;
        position: relative;
        right: 0;
        top: 5px;
    }
    .nav__list-item:first-of-type a{
        font-size: 24px;
    }

    .nav__list-item:first-of-type{
        margin-right: inherit;
    }



    .nav__list-item a{
        text-transform: uppercase;
        font-family: 'Poppins';
        font-size: 24px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.4px;
        color: #000000;


        text-decoration: none;
        color: rgba(255,255,255,0.6);
        overflow: hidden;
        cursor: pointer;
        z-index: 2;
        display: inline-block;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
    }

    .nav__list-item:last-of-type a{
        background: none;
        padding: 0;
        color: rgba(255,255,255,0.6);
        border-radius: inherit;
    }

    .nav__list-item:last-of-type a:hover{
        color: white;
        transform: none;
    }




    .third_banner {
        background-size: cover;
    }

    .second_banner {
        background-size: cover;
    }

    .fifth_banner {
        background-size: cover;
    }
    .main_banner{
        align-items: center;
    }
}

@media only screen and (max-width: 641px) {

    header nav a {
        font-size: 7px;
    }

    header nav ul li:first-of-type a {
        font-size: 5px;
    }

    header nav ul li:last-of-type a {
        font-size: 7px;
        padding: 2px 7px;
    }
    .main_banner{
        align-items: center;
    }
    .fourth_section .container div{
        max-width: 128px;
        display: block;
        margin: auto;
    }
    .fourth_section .container div img {
        max-width: 100%;
        margin-bottom: 50px;
    }
    .fourth_section{
        padding-bottom: 50px;
    }
}

@media only screen and (max-width: 539px) {
    header nav ul li {
        margin-left: 10px;
    }

    header nav ul li:first-of-type {
        margin-right: 13px;
    }
    .logo img{
        max-width: 60%
    }
    header nav ul li:last-of-type  {
       margin-left: 10px;
    }
}

@media only screen and (max-width: 430px) {
    header nav a {
        font-size: 5px;
    }

    header nav ul li:first-of-type a {
        font-size: 4px;
    }

    header nav ul li:last-of-type a {
        font-size: 5px;
        padding: 1px 5px 1px 5px;
    }

    .fourth_section .container h2{
        font-size: 30px;
    }
    .fourth_section .container p{
        font-size: 20px;
    }

    .second_banner {
        padding-right: 10px;
    }
    .third_banner {

        padding-right: 10px;
    }
    .fifth_banner {
        padding-right: 10px;
    }




}
@media only screen and (max-width: 375px) {
    .components li{
        font-size: 8px;
    }
    .main_banner h3{
        font-size: 10px;
    }
    .main_banner h1{
        font-size: 45px;
    }
    .main_banner p {
        font-size: 10px;
    }
    .sixth_section .container h2{
        font-size: 30px;
    }
    .sixth_section h3{
        font-size: 20px;
    }
}

@media only screen and (max-width: 360px) {
    .logo img{
        max-width: 50%;
    }
    header nav a {
        font-size: 4px;
    }

    header nav ul li:first-of-type a {
        font-size: 3px;
    }

    header nav ul li:last-of-type a {
        font-size: 4px;
        padding: 1px;
    }
}

@media only screen and (max-width: 320px) {

}